{% extends "base.html" %}
{% block title %}Fonte{% endblock %}

{% block content %}
<h3>{{ 'Editar' if fonte else 'Nova' }} Fonte</h3>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Descrição</label>
        <input type="text" name="descricao" class="form-control"
               value="{{ fonte.descricao if fonte else '' }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Outro</label>
        <input type="text" name="outro" class="form-control"
               value="{{ fonte.outro if fonte else '' }}">


    <button class="btn btn-success">Salvar</button>

    <a href="/doutoramento/fontes" class="btn btn-secondary ms-2">
        Cancelar
    </a>
    </div>
</form>
{% endblock %}
