{% extends "base.html" %}
{% block title %}Jornal{% endblock %}

{% block content %}


<form method="post" action="/doutoramento/{% if jornal %}{{ jornal.id }}/editar{% else %}/novo{% endif %}">
    <input type="hidden" name="q_ini" value="{{ q_ini or '' }}">
    <input type="hidden" name="q_fim" value="{{ q_fim or '' }}">
    <input type="hidden" name="q_id" value="{{ q_id or '' }}">
    <input type="hidden" name="q_jornal" value="{{ q_jornal or '' }}">
    <input type="hidden" name="q_page" value="{{ q_page or '' }}">
    <input type="hidden" name="q_novo" value="{{ q_novo or '' }}">

<h3>
    {{ 'Editar' if jornal else 'Novo' }} Jornal
    {% if jornal and jornal.is_novo %}
    <div class="alert alert-info py-1" >
    <h6>Registro Importado</h6>
    </div>
    {% endif %}

</h3>


    <div class="row">
    <div class="col-md-5 mb-3">
        <label class="form-label">Jornal</label>
        <select name="jornal" class="form-select" required>
            <option value="">---</option>
            {% for j in jornais_lista %}
            <option value="{{ j }}"
                {% if jornal and jornal.jornal == j %}selected{% endif %}>
                {{ j }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3 mb-3">
        <label class="form-label">Data Publicação</label>
        <input type="date"
            name="dataPublicacao"
            class="form-control"
            value="{{ jornal.dataPublicacao if jornal and jornal.dataPublicacao else '' }}">


    </div>

    <div class="col-md-4 mb-3">
        <label class="form-label">Nome do Arquivo Imagem</label>
        <input type="text" name="nomeArquivo" class="form-control" value="{{ jornal.nomeArquivo if jornal.nomeArquivo is not none else ''}}"> </textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-3 mb-3">
        <label class="form-label">Ano da publicação?</label>
        <select name="anoPublicacao" class="form-select">
            <option value="">---</option>
            {% for j in anos_lista %}
            <option value="{{ j }}"
                {% if jornal and jornal.anoPublicacao == j|int %}selected{% endif %}>
                {{ j }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3 mb-3">
        <label class="form-label">Mês da publicação?</label>
        <select name="mesPublicacao" class="form-select">
            <option value="">---</option>
            {% for j in mes_lista %}
            <option value="{{ j }}"
                {% if jornal and jornal.mesPublicacao == j|int %}selected{% endif %}>
                {{ j }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-2 mb-3">
        <label class="form-label">Número da Página</label>
        <input type="number" name="pagina" class="form-control"
               value="{{ jornal.pagina if jornal.pagina is not none else '' }}">
    </div>

    <input type="hidden" id="palavras_original_input" 
        name="palavras_original" 
        value="{{ jornal.palavras_original 
                    if jornal and jornal.palavras_original is not none
                    else (jornal.palavras if jornal and jornal.palavras is not none else '') }}">

    <div class="col-md-2 mb-3">
        <label class="form-label">Percentual da página</label>
        <input type="number" name="percentual" id="percentual" class="form-control"
               step="0.01" min="0" max="100"
               value="{{ jornal.percentual if jornal.percentual is not none else ''}}">
    </div>

    <div class="col-md-2 mb-3">
        <label class="form-label">Número de palavras</label>
        <input type="number" name="palavras" id="palavras" class="form-control"
               value="{{ jornal.palavras if jornal and jornal.palavras is not none else ''}}">
    </div>
</div>
  
<div class="row">
    <div class="mb-3">
        <label class="form-label">Seção do Jornal</label>
        <select name="secao" class="form-select" id="secao">
            <option value="">---</option>
            {% for s in secao_lista %}
            <option value="{{ s }}"
                {% if secao_select == s %}selected{% endif %}>
                {{ s }}
            </option>
            {% endfor %}
            <option value="Outro"
                {% if secao_select == "Outro" %}selected{% endif %}>
                Outro
            </option>
        </select>
    </div>
</div>

<div class="mb-3" id="secao_outro_container" style="display: none;">
    <label class="form-label">Seção - Outros</label>
    <input type="text"
           name="secao_outro"
           id="secao_outro"
           class="form-control"
           value="{{ secao_outro or '' }}">
</div>

<div class="row">
    <div class="mb-3">
        <label class="form-label">Gênero</label>
        <select name="genero" class="form-select" id="genero">
            <option value="">---</option>
            {% for s in genero_lista %}
            <option value="{{ s }}"
                {% if genero_select == s %}selected{% endif %}>
                {{ s }}
            </option>
            {% endfor %}
            <option value="Outro"
                {% if genero_select == "Outro" %}selected{% endif %}>
                Outro
            </option>
        </select>
    </div>
</div>

<div class="mb-3" id="genero_outro_container" style="display: none;">
    <label class="form-label">Gêneros - Outros</label>
    <input type="text"
           name="genero_outro"
           id="genero_outro"
           class="form-control"
           value="{{ genero_outro or '' }}">
</div>

<div class="row">
    <div class="mb-3 col-md-6">
        <label class="form-label">Autoria (quem assina o texto?)</label>
        <select name="autoria" class="form-select" id="autoria">
            <option value="">---</option>
            {% for s in autoria_lista %}
            <option value="{{ s }}"
                {% if autoria_select == s %}selected{% endif %}>
                {{ s }}
            </option>
            {% endfor %}
            <option value="Outro"
                {% if autoria_select == "Outro" %}selected{% endif %}>
                Outro
            </option>
        </select>
    </div>

    <div class="mb-3 col-md-6" id="autoria_outro_container" style="display: none;">
        <label class="form-label">Autoria - Outros</label>
        <input type="text"
            name="autoria_outro"
            id="autoria_outro"
            class="form-control"
            value="{{ autoria_outro or '' }}">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Abrangência</label>
        <select name="abrangencia" class="form-select" id="abrangencia">
            <option value="">---</option>
            {% for s in abrangencia_lista %}
            <option value="{{ s }}"
                {% if abrangencia_select == s %}selected{% endif %}>
                {{ s }}
            </option>
            {% endfor %}
            <option value="Outro"
                {% if abrangencia_select == "Outro" %}selected{% endif %}>
                Outro
            </option>
        </select>
    </div>


    <div class="mb-3 col-md-6" id="abrangencia_outro_container" style="display: none;">
        <label class="form-label">Abrangência - Outros</label>
        <input type="text"
            name="abrangencia_outro"
            id="abrangencia_outro"
            class="form-control"
            value="{{ abrangencia_outro or '' }}">
    </div>
</div>

<div class="mb-3">
    <label>Fontes</label>
    {% for f in fontes %}
    <div class="form-check">
    <input class="form-check-input"
           type="checkbox"
           name="fontes"
           value="{{ f.id }}"
           {% if f.id in fontes_ids %}checked{% endif %}>
    <label class="form-check-label">{{ f.descricao }}</label>
    </div>
    {% endfor %}


    <div class="form-check">
        <input class="form-check-input"
               type="checkbox"
               id="fonteOutroCheckbox"
               name="fontes_outro_checkbox"
               value="Outro"
               {% if fonte_outro %}checked{% endif %}>
        <label class="form-check-label">Outro</label>
    </div>

   <!-- Campo de texto escondido -->
    <div class="mb-3" id="fonteOutroDiv" style="display: none;">
        <label class="form-label">Outra Fonte</label>
        <input type="text"
               name="fontes_outro"
               id="fontes_outro"
               class="form-control"
               value="{{ fonte_outro or '' }}">
    </div>
</div>

<div class="row">
    <div class="mb-3">
        <label class="form-label">Título - Linguagem</label>
        <select name="linguagem" class="form-select" id="linguagem">
            <option value="">---</option>
            {% for s in linguagem_lista %}
            <option value="{{ s }}"
                {% if linguagem_select == s %}selected{% endif %}>
                {{ s }}
            </option>
            {% endfor %}
            <option value="Outro"
                {% if linguagem_select == "Outro" %}selected{% endif %}>
                Outro
            </option>
        </select>
    </div>
</div>

<div class="mb-3" id="linguagem_outro_container" style="display: none;">
    <label class="form-label">Título Linguagem - Outros</label>
    <input type="text"
           name="linguagem_outro"
           id="linguagem_outro"
           class="form-control"
           value="{{ linguagem_outro or '' }}">
</div>


<div class="row">
    <div class="mb-3">
        <label class="form-label">Título - Enunciador</label>
        <select name="enunciador" class="form-select" id="enunciador">
            <option value="">---</option>
            {% for s in enunciador_lista %}
            <option value="{{ s }}"
                {% if enunciador_select == s %}selected{% endif %}>
                {{ s }}
            </option>
            {% endfor %}
            <option value="Outro"
                {% if enunciador_select == "Outro" %}selected{% endif %}>
                Outro
            </option>
        </select>
    </div>
</div>

<div class="mb-3" id="enunciador_outro_container" style="display: none;">
    <label class="form-label">Título Enunciador - Outros</label>
    <input type="text"
           name="enunciador_outro"
           id="enunciador_outro"
           class="form-control"
           value="{{ enunciador_outro or '' }}">
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label">Título Persuasão</label>
        <select name="persuasao" class="form-select">
            <option value="">---</option>
            {% for j in persuasao_lista %}
            <option value="{{ j }}"
                {% if jornal and jornal.persuasao == j %}selected{% endif %}>
                {{ j }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-6 mb-3">
        <label class="form-label">Tipo de Lead</label>
        <select name="lead" class="form-select">
            <option value="">---</option>
            {% for j in lead_lista %}
            <option value="{{ j }}"
                {% if jornal and jornal.lead == j %}selected{% endif %}>
                {{ j }}
            </option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="mb-3">
<label class="form-label">Enquadramento Dominante</label>
<select name="enqDominante" class="form-select" id="enqDominante">
    <option value="">---</option>
    {% for s in dominante_lista %}
        <option value="{{ s }}"
            {% if enqDominante_select == s %}selected{% endif %}>
            {{ s }}
        </option>
    {% endfor %}
    <option value="Outro"
        {% if enqDominante_select == "Outro" %}selected{% endif %}>
        Outro
    </option>
</select>
</div>

<div class="mb-3" id="enqDominante_outro_container" style="display: none;">
    <label class="form-label">Enquadramento Dominante - Outros</label>
    <input type="text"
           name="enqDominante_outro"
           id="enqDominante_outro"
           class="form-control"
           value="{{ enqDominante_outro or '' }}">
</div>

<div class="mb-3">
    <label>Enquadramento Responsabilidade</label>
    {% for f in enquadramentos %}
    <div class="form-check">
        <input class="form-check-input"
               type="checkbox"
               name="enqResponsabilidade"
               value="{{ f.id }}"
               {% if f.id in enquadramentos_ids %}checked{% endif %}>
        <label class="form-check-label">{{ f.descricao }}</label>
    </div>
    {% endfor %}

    <div class="form-check">
        <input class="form-check-input"
               type="checkbox"
               id="enquadramentoOutroCheckbox"
               value="Outro"
               name="enquadramentoOutroCheckbox"
               {% if enquadramento_outro_text %}checked{% endif %}>
        <label class="form-check-label">Outro</label>
    </div>

    <div class="mb-3" id="enquadramentoOutroDiv" style="display: none;">
        <label class="form-label">Outro Enquadramento Responsabilidade</label>
        <input type="text"
               name="enqResponsabilidade_outro"
               id="enquadramentos_outro"
               class="form-control"
               value="{{ enquadramento_outro_text or '' }}">
    </div>
</div>

<div class="row">
    <div class="mb-3">
        <label class="form-label">Enquadramento - Eficácia</label>
        <select name="enqEficacia" class="form-select" id="enqEficacia">
            <option value="">---</option>
            {% for s in enqEficacia_lista %}
            <option value="{{ s }}"
                {% if enqEficacia_select == s %}selected{% endif %}>
                {{ s }}
            </option>
            {% endfor %}
            <option value="Outro"
                {% if enqEficacia_select == "Outro" %}selected{% endif %}>
                Outro
            </option>
        </select>
    </div>
</div>

<div class="mb-3" id="enqEficacia_outro_container" style="display: none;">
    <label class="form-label">Enquadramento Eficácia - Outros</label>
    <input type="text"
           name="enqEficacia_outro"
           id="enqEficacia_outro"
           class="form-control"
           value="{{ enqEficacia_outro or '' }}">
</div>

<div class="row">
    <div class="mb-3">
        <label class="form-label">Enquadramento - Ação Coletiva</label>
        <select name="enqAcao" class="form-select" id="enqAcao">
            <option value="">---</option>
            {% for s in enqAcao_lista %}
            <option value="{{ s }}"
                {% if enqAcao_select == s %}selected{% endif %}>
                {{ s }}
            </option>
            {% endfor %}
            <option value="Outro"
                {% if enqAcao_select == "Outro" %}selected{% endif %}>
                Outro
            </option>
        </select>
    </div>
</div>

<div class="mb-3" id="enqAcao_outro_container" style="display: none;">
    <label class="form-label">Enquadramento Ação - Outros</label>
    <input type="text"
           name="enqAcao_outro"
           id="enqAcao_outro"
           class="form-control"
           value="{{ enqAcao_outro or '' }}">
</div>

<div class="mb-3">
    <label class="form-label">Papel jornalístico dominante</label>
    <select name="papJornalistico" class="form-select">
        <option value="">---</option>
        {% for j in papJornalistico_lista %}
        <option value="{{ j }}"
            {% if jornal and jornal.papJornalistico == j %}selected{% endif %}>
            {{ j }}
        </option>
        {% endfor %}
    </select>
</div>

<div class="mb-3">
    <label>Tema</label>
    {% for f in temas %}
    <div class="form-check">
    <input class="form-check-input"
           type="checkbox"
           name="temas"
           value="{{ f.id }}"
           {% if f.id in temas_ids %}checked{% endif %}>
    <label class="form-check-label">{{ f.descricao }}</label>
    </div>
    {% endfor %}


    <div class="form-check">
        <input class="form-check-input"
               type="checkbox"
               id="temaOutroCheckbox"
               name="temas_outro_checkbox"
               value="Outro"
               {% if tema_outro %}checked{% endif %}>
        <label class="form-check-label">Outro</label>
    </div>

   <!-- Campo de texto escondido -->
    <div class="mb-3" id="temaOutroDiv" style="display: none;">
        <label class="form-label">Outro Tema</label>
        <input type="text"
               name="temas_outro"
               id="temas_outro"
               class="form-control"
               value="{{ tema_outro or '' }}">
    </div>
</div>

<div class="mb-3">
    <label class="form-label">Alterações Climáticas</label>
    <div class="form-check">
    <input type="hidden" name="climaticas" value="false">
    <input type="checkbox" 
           class="form-check-input" 
           id="climaticas" 
           name="climaticas" 
           value="true"
           {% if jornal and jornal.climaticas %}checked{% endif %}>
    
    <label class="form-check-label" for="climaticas">
        A notícia menciona diretamente as alterações climáticas!
    </label>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <label class="form-label" for="link">Link para o ficheiro</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">
                <i class="bi bi-link-45deg"></i> https://
            </span>
            <input type="url" 
                   name="link" 
                   id="link" 
                   class="form-control" 
                   placeholder="www.exemplo.com.br/materia"
                   value="{{ jornal.link if jornal and jornal.link else '' }}">
        </div>
        <div class="form-text">Insira a URL completa para referência digital.</div>
    </div>
</div>

<div class="mb-3">
    <label class="form-label">Observações</label>
    <textarea name="observacoes" class="form-control">{{ jornal.observacoes if jornal else '' }}</textarea>
    <br>
    <button class="btn btn-success">Salvar</button>


<a href="/doutoramento/?data_inicio={{ q_ini }}&data_fim={{ q_fim }}&id={{ q_id }}&jornal={{ q_jornal }}&apenas_novos={{ q_novo }}&page={{ q_page or '1' }}" 
   class="btn btn-secondary ms-2">
   Cancelar
</a>

</div>
</form>



<script>
document.addEventListener('DOMContentLoaded', function () {
    const secaoSelect = document.getElementById('secao');
    const secaoOutroContainer = document.getElementById('secao_outro_container');
    const secaoOutroInput = document.getElementById('secao_outro');

    if (!secaoSelect || !secaoOutroContainer || !secaoOutroInput) {
        return;
    }

    function toggleSecaoOutro() {
        if (secaoSelect.value === 'Outro') {
            secaoOutroContainer.style.display = 'block';
        } else {
            secaoOutroContainer.style.display = 'none';
            secaoOutroInput.value = '';
        }
    }

    // inicializa corretamente ao abrir o formulário (edição)
    toggleSecaoOutro();

    // reage à alteração do select
    secaoSelect.addEventListener('change', toggleSecaoOutro);
});
</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const generoSelect = document.getElementById('genero');
    const generoOutroContainer = document.getElementById('genero_outro_container');
    const generoOutroInput = document.getElementById('genero_outro');

    if (!generoSelect || !generoOutroContainer || !generoOutroInput) {
        return;
    }

    function toggleGeneroOutro() {
        if (generoSelect.value === 'Outro') {
            generoOutroContainer.style.display = 'block';
        } else {
            generoOutroContainer.style.display = 'none';
            generoOutroInput.value = '';
        }
    }

    // inicializa corretamente ao abrir o formulário (edição)
    toggleGeneroOutro();

    // reage à alteração do select
    generoSelect.addEventListener('change', toggleGeneroOutro);
});
</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const autoriaSelect = document.getElementById('autoria');
    const autoriaOutroContainer = document.getElementById('autoria_outro_container');
    const autoriaOutroInput = document.getElementById('autoria_outro');

    if (!autoriaSelect || !autoriaOutroContainer || !autoriaOutroInput) {
        return;
    }

    function toggleAutoriaOutro() {
        if (autoriaSelect.value === 'Outro') {
            autoriaOutroContainer.style.display = 'block';
        } else {
            autoriaOutroContainer.style.display = 'none';
            autoriaOutroInput.value = '';
        }
    }

    // inicializa corretamente ao abrir o formulário (edição)
    toggleAutoriaOutro();

    // reage à alteração do select
    autoriaSelect.addEventListener('change', toggleAutoriaOutro);
});
</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const abrangenciaSelect = document.getElementById('abrangencia');
    const abrangenciaOutroContainer = document.getElementById('abrangencia_outro_container');
    const abrangenciaOutroInput = document.getElementById('abrangencia_outro');

    if (!abrangenciaSelect || !abrangenciaOutroContainer || !abrangenciaOutroInput) {
        return;
    }

    function toggleAbrangenciaOutro() {
        if (abrangenciaSelect.value === 'Outro') {
            abrangenciaOutroContainer.style.display = 'block';
        } else {
            abrangenciaOutroContainer.style.display = 'none';
            abrangenciaOutroInput.value = '';
        }
    }

    // inicializa corretamente ao abrir o formulário (edição)
    toggleAbrangenciaOutro();

    // reage à alteração do select
    abrangenciaSelect.addEventListener('change', toggleAbrangenciaOutro);
});
</script>

<!-- Fontes - Outro -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const outroCheckbox = document.getElementById('fonteOutroCheckbox');
    const outroDiv = document.getElementById('fonteOutroDiv');
    const outroInput = document.getElementById('fontes_outro');

    function toggleOutro() {
        if (outroCheckbox.checked) {
            outroDiv.style.display = 'block';
        } else {
            outroDiv.style.display = 'none';
            outroInput.value = '';
        }
    }

    // Inicializa corretamente ao carregar a página (edição)
    toggleOutro();

    // Escuta alterações do checkbox
    outroCheckbox.addEventListener('change', toggleOutro);
});
</script>

<!-- Linguagem - Outros -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const linguagemSelect = document.getElementById('linguagem');
    const linguagemOutroContainer = document.getElementById('linguagem_outro_container');
    const linguagemOutroInput = document.getElementById('linguagem_outro');

    if (!linguagemSelect || !linguagemOutroContainer || !linguagemOutroInput) {
        return;
    }

    function toggleLinguagemOutro() {
        if (linguagemSelect.value === 'Outro') {
            linguagemOutroContainer.style.display = 'block';
        } else {
            linguagemOutroContainer.style.display = 'none';
            linguagemOutroInput.value = '';
        }
    }

    // inicializa corretamente ao abrir o formulário (edição)
    toggleLinguagemOutro();

    // reage à alteração do select
    linguagemSelect.addEventListener('change', toggleLinguagemOutro);
});
</script>

<!-- Enunciador - Outros -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const enunciadorSelect = document.getElementById('enunciador');
    const enunciadorOutroContainer = document.getElementById('enunciador_outro_container');
    const enunciadorOutroInput = document.getElementById('enunciador_outro');

    if (!enunciadorSelect || !enunciadorOutroContainer || !enunciadorOutroInput) {
        return;
    }

    function toggleEnunciadorOutro() {
        if (enunciadorSelect.value === 'Outro') {
            enunciadorOutroContainer.style.display = 'block';
        } else {
            enunciadorOutroContainer.style.display = 'none';
            enunciadorOutroInput.value = '';
        }
    }

    // inicializa corretamente ao abrir o formulário (edição)
    toggleEnunciadorOutro();

    // reage à alteração do select
    enunciadorSelect.addEventListener('change', toggleEnunciadorOutro);
});
</script>

<!-- Persuasao - Outros -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const persuasaoSelect = document.getElementById('persuasao');
    const persuasaoOutroContainer = document.getElementById('persuasao_outro_container');
    const persuasaoOutroInput = document.getElementById('persuasao_outro');

    if (!persuasaoSelect || !persuasaoOutroContainer || !persuasaoOutroInput) {
        return;
    }

    function togglePersuasaoOutro() {
        if (persuasaoSelect.value === 'Outro') {
            persuasaoOutroContainer.style.display = 'block';
        } else {
            persuasaoOutroContainer.style.display = 'none';
            persuasaoOutroInput.value = '';
        }
    }

    // inicializa corretamente ao abrir o formulário (edição)
    togglePersuasaoOutro();

    // reage à alteração do select
    persuasaoSelect.addEventListener('change', togglePersuasaoOutro);
});
</script>


<!-- Enquadramento Dominante - Outros -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const enqDominanteSelect = document.getElementById('enqDominante');
    const enqDominanteOutroContainer = document.getElementById('enqDominante_outro_container');
    const enqDominanteOutroInput = document.getElementById('enqDominante_outro');

    if (!enqDominanteSelect || !enqDominanteOutroContainer || !enqDominanteOutroInput) {
        return;
    }

    function toggleEnqDominanteOutro() {
        if (enqDominanteSelect.value === 'Outro') {
            enqDominanteOutroContainer.style.display = 'block';
        } else {
            enqDominanteOutroContainer.style.display = 'none';
            enqDominanteOutroInput.value = '';
        }
    }

    // inicializa corretamente ao abrir o formulário (edição)
    toggleEnqDominanteOutro();

    // reage à alteração do select
    enqDominanteSelect.addEventListener('change', toggleEnqDominanteOutro);
});
</script>

<!-- Enquadramento Responsabilidade - Outro -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const outroCheckbox = document.getElementById('enquadramentoOutroCheckbox');
    const outroDiv = document.getElementById('enquadramentoOutroDiv');
    const outroInput = document.getElementById('enquadramentos_outro');

    // proteção contra null
    if (!outroCheckbox || !outroDiv || !outroInput) {
        return;
    }

    function toggleOutro() {
        if (outroCheckbox.checked) {
            outroDiv.style.display = 'block';
        } else {
            outroDiv.style.display = 'none';
            outroInput.value = '';
        }
    }

    // Inicializa corretamente ao carregar a página (edição)
    toggleOutro();

    // Escuta alterações do checkbox
    outroCheckbox.addEventListener('change', toggleOutro);
});
</script>

<!-- enqEficacia - Outros -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const enqEficaciaSelect = document.getElementById('enqEficacia');
    const enqEficaciaOutroContainer = document.getElementById('enqEficacia_outro_container');
    const enqEficaciaOutroInput = document.getElementById('enqEficacia_outro');

    if (!enqEficaciaSelect || !enqEficaciaOutroContainer || !enqEficaciaOutroInput) {
        return;
    }

    function toggleenqEficaciaOutro() {
        if (enqEficaciaSelect.value === 'Outro') {
            enqEficaciaOutroContainer.style.display = 'block';
        } else {
            enqEficaciaOutroContainer.style.display = 'none';
            enqEficaciaOutroInput.value = '';
        }
    }

    // inicializa corretamente ao abrir o formulário (edição)
    toggleenqEficaciaOutro();

    // reage à alteração do select
    enqEficaciaSelect.addEventListener('change', toggleenqEficaciaOutro);
});
</script>

<!-- enqAcao - Outros -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const enqAcaoSelect = document.getElementById('enqAcao');
    const enqAcaoOutroContainer = document.getElementById('enqAcao_outro_container');
    const enqAcaoOutroInput = document.getElementById('enqAcao_outro');

    if (!enqAcaoSelect || !enqAcaoOutroContainer || !enqAcaoOutroInput) {
        return;
    }

    function toggleenqAcaoOutro() {
        if (enqAcaoSelect.value === 'Outro') {
            enqAcaoOutroContainer.style.display = 'block';
        } else {
            enqAcaoOutroContainer.style.display = 'none';
            enqAcaoOutroInput.value = '';
        }
    }

    // inicializa corretamente ao abrir o formulário (edição)
    toggleenqAcaoOutro();

    // reage à alteração do select
    enqAcaoSelect.addEventListener('change', toggleenqAcaoOutro);
});
</script>

<!-- Temas - Outro -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const outroCheckbox = document.getElementById('temaOutroCheckbox');
    const outroDiv = document.getElementById('temaOutroDiv');
    const outroInput = document.getElementById('temas_outro');

    function toggleOutro() {
        if (outroCheckbox.checked) {
            outroDiv.style.display = 'block';
        } else {
            outroDiv.style.display = 'none';
            outroInput.value = '';
        }
    }

    // Inicializa corretamente ao carregar a página (edição)
    toggleOutro();

    // Escuta alterações do checkbox
    outroCheckbox.addEventListener('change', toggleOutro);
});
</script>

<!-- -- Cálculo Percentual Palavras -- -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const inputPercentual = document.getElementById('percentual');
    const inputPalavras = document.getElementById('palavras');
    const inputOriginal = document.getElementById('palavras_original_input');

    function calcularPalavras() {
        const baseFixa = parseFloat(inputOriginal.value) || 0;
        const percentual = parseFloat(inputPercentual.value) || 0;
        
        if (baseFixa > 0) {
            const resultado = (percentual * baseFixa) / 100;
            inputPalavras.value = Math.round(resultado);
        }
    }

    // Apenas recalcula quando o usuário INTERAGE com o campo
    inputPercentual.addEventListener('input', calcularPalavras);
    
    console.log("Sistema pronto. Base original carregada:", inputOriginal.value);
});
</script>


{% endblock %}