

{% extends "base.html" %}
{% block title %}Dashboard Interativo{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>📊 Painel de Análise Dinâmica</h3>
    <a href="http://127.0.0.1:8501/" target="_blank" class="btn btn-sm btn-outline-secondary">
        <i class="bi bi-box-arrow-up-right"></i> Abrir em nova aba
    </a>
</div>

<div class="ratio ratio-16x9" style="height: 80vh;">
    <iframe 
        src="http://127.0.0.1:8501/?embed=true"  
        frameborder="0" 
        style="border: 1px solid #ddd; border-radius: 8px;">
    </iframe>
</div>

<style>
    iframe {
        border: none !important;
        background-color: transparent;
    }
</style>
{% endblock %}

<!-- src="https://dashboard.zapto.org/?embed=true"  -->

<!-- https://dashboard.doutorado.dnset.com/ -->
<!-- href="http://127.0.0.1:8501" -->
<!-- src="https://dashboard.doutorado.dnset.com/?embed=true" -->